@import "tailwindcss";


@font-face {
  font-family: "KotaykR";
  src: url("/fonts/KotaykR.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}


@theme inline {
  --font-heading: var(--font-cinzel);
  --font-body: var(--font-eb-garamond);
  --font-soft: var(--font-cormorant-infant);
  --font-decor: var(--font-marcellus);
  --font-armenian: var(--font-noto-armenian);
  --font-signature: var(--font-great-vibes);
  --font-kotayk: KotaykR;
}